* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.page-container {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-content-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card-container {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 5px;
	background-color: rgb(231, 231, 231);
	border-radius: 5px;
}
.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.image-container img {
	width: 90%;
	object-fit: contain;
}
.date {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: small;
	border: none;
	outline: none;
}
.photos {
	background-color: red;
	position: absolute;
	font-size: small;
	border: none;
	outline: none;
	bottom: 0px;
	left: 20px;
}
.article-container {
	margin: 0 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.article-heading {
	text-align: center;
	font-weight: 200;
	margin: 5px 0;
}
.article-subheading {
	text-align: center;
	font-weight: 100;
	color: red;
	margin: 10px 0;
}
.article-text {
	font-size: smaller;
	margin: 5px;
	line-height: 15px;
}
.tiny-footer {
	color: grey;
	display: flex;
	font-size: x-small;
	margin: 10px ;
}
li {
	list-style: circle;
	padding-left: 5%;
}
.comment img {
	width: 8%;
	object-fit: contain;
	margin-right: 5px;
}
.six-mins-ago {
	margin: 0%;
	width: 100%;
}
.comment {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
